$font-family-sans-serif: 'Open Sans', sans-serif;

//adding extra breakpoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

//while adding extra breakpoint must add container width too
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$body-color: rgba(0,0,0,0.7);
$headings-font-family: 'Aleo', serif;
$headings-font-weight: 700;
$headings-margin-bottom: 1rem;


//font scaling using perfect fourth  https://type-scale.com
$h1-font-size: 4.209rem;
$h2-font-size: 3.157rem;
$h3-font-size: 2.369rem;
$h4-font-size: 1.777rem;
$h5-font-size: 1.333rem;
$h6-font-size: 0.75rem;

$headings-line-height: 1.1em;
