@media only screen and (min-width:768px){

}//(min-width:768px)
@media only screen and (min-width:992px){

}//(min-width:992px)
@media only screen and (min-width:1200px){

}//(min-width:1200px)
@media only screen and (min-width:1600px){

}//(min-width:1600px)

@media only screen and (max-width:1599px){

}//(max-width:1599px)
@media only screen and (max-width:1199px){

}//(max-width:1199px)
@media only screen and (max-width:991px){

}//(max-width:991px)
@media only screen and (max-width:767px){

}//(max-width:767px)
