$rem-base: 16;
html {
  font-size: $rem-base+px;
}

body {
  font-size: 1rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  &:not(:first-child){
    margin-top:(40/$rem-base)+rem;
  }
}
h6{
  text-transform: uppercase;
  letter-spacing: .1em;
}
