$breakpoints: $grid-breakpoints;
@each $breakpoint in map-keys($breakpoints) {
  $infix: breakpoint-infix($breakpoint, $breakpoints);
  @include media-breakpoint-up($breakpoint, $breakpoints) {
    $area: (
      'top': t,
      'right': r,
      'bottom': b,
      'left': l
    );
    @each $d, $a in $area {
      @for $i from -20 through 20 {
        .m#{$infix}-#{$a}-#{$i*5} {
          margin-#{$d}: ($i*5/$rem-base)+rem;
        }

        .m#{$infix}-x-#{$i*5} {
          margin-left: ($i*5/$rem-base)+rem;
          margin-right: ($i*5/$rem-base)+rem;
        }

        .m#{$infix}-y-#{$i*5} {
          margin-top: ($i*5/$rem-base)+rem;
          margin-bottom: ($i*5/$rem-base)+rem;
        }
      }
      @for $i from 0 through 100 {
        .p#{$infix}-#{$a}-#{$i*5} {
          padding-#{$d}: ($i*5/$rem-base)+rem;
        }

        .p#{$infix}-x-#{$i*5} {
          padding-left: ($i*5/$rem-base)+rem;
          padding-right: ($i*5/$rem-base)+rem;
        }

        .p#{$infix}-y-#{$i*5} {
          padding-top: ($i*5/$rem-base)+rem;
          padding-bottom: ($i*5/$rem-base)+rem;
        }
      }
    }
    @for $i from -20 through 20 {
      .m#{$infix}-#{$i*5} {
        margin: ($i*5/$rem-base)+rem;
      }
    }
    @for $i from 0 through 20 {
      .p#{$infix}-#{$i*5} {
        padding: ($i*5/$rem-base)+rem;
      }
    }
    @for $i from 10 through 100 {
      .f#{$infix}-#{$i} {
        font-size: ($i/$rem-base)+rem;
      }
    }
    $weights: (
      '300': 300,
      '400': 400,
      '600': 600,
      '700': 700
    );
    @each $w , $weight in $weights {
      .wt#{$infix}-#{$w} {
        font-weight: $weight;
      }
    }
  }
}
